# Ignore Visual Studio Code settings
.vscode/
.midlab/
._pycache_/
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*

# Ignore executable files
*.app
*.bat
*.cgi
*.com
*.exe
*.gadget
*.jar
*.pif
*.vb
*.wsf
*zip
*midlab
*PNG
